name: Run Skaker in all testing repos

on: [workflow_dispatch]

jobs:
  azure-iot-sdk-java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: Azure/azure-iot-sdk-java
          ref: a9226a5262a8f4cb92ec7fd1535c0e0d3bc7aa03
      - uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "zulu"
      - name: Run the Maven verify phase
        run: mvn -B -U -fn -q -Dmaven.javadoc.skip=true clean compile

  CorfuDB:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: CorfuDB/CorfuDB
          ref: b99ecfffd4f4b478f2423cc0470c3c2edf8c2cc8
      - uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "zulu"
      - name: Run the Maven verify phase
        run: mvn -B -U -fn -q -Dmaven.javadoc.skip=true clean compile

  Chronicle-Queue:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: OpenHFT/Chronicle-Queue
          ref: bec195b43e9115c7778d7458d8301ec1a5a4fbcb
      - uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "zulu"
      - name: Run the Maven verify phase
        run: mvn -B -U -fn -q -Dmaven.javadoc.skip=true clean compile

  exhibitor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: soabase/exhibitor
          ref: d345d2d45c75b0694b562b6c346f8594f3a5d166
      - uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "zulu"
      - name: Run the Maven verify phase
        run: mvn -B -U -fn -q -Dmaven.javadoc.skip=true clean compile

  flow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: vaadin/flow
          ref: df7a5f80b8c77f5d1505ecd6aea7e1adf70141bf
      - uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "zulu"
      - name: Run the Maven verify phase
        run: mvn -B -U -fn -q -Dmaven.javadoc.skip=true clean compile

  hbase:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: apache/hbase
          ref: d50816fe448971b8e586792f0584aaf601e31780
      - uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "zulu"
      - name: Run the Maven verify phase
        run: mvn -B -U -fn -q -Dmaven.javadoc.skip=true clean compile

  karate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: intuit/karate
          ref: 09bc49eb6fcfc029a09dbdb385137ff71985c89b
      - uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "zulu"
      - name: Run the Maven verify phase
        run: mvn -B -U -fn -q -Dmaven.javadoc.skip=true clean compile

  killbill:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: killbill/killbill
          ref: 9a6f3a4fef5c3fecb637056f6364437f319bc907
      - uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "zulu"
      - name: Run the Maven verify phase
        run: mvn -B -U -fn -q -Dmaven.javadoc.skip=true clean compile

  mockserver:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: mock-server/mockserver
          ref: b1093ef54a6c3c880076f71a815bf0e204bc27f2
      - uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "zulu"
      - name: Run the Maven verify phase
        run: mvn -B -U -fn -q -Dmaven.javadoc.skip=true clean compile

  ozone:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: apache/ozone
          ref: dfd2aaf7fff4815e906e7201cee1739ad9776d97
      - uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "zulu"
      - name: Run the Maven verify phase
        run: mvn -B -U -fn -q -Dmaven.javadoc.skip=true clean compile

  ripme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: RipMeApp/ripme
          ref: 19ea20dcd62d6ea1197073ce9a7236c5c1f47556
      - uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "zulu"
      - name: Run the Maven verify phase
        run: mvn -B -U -fn -q -Dmaven.javadoc.skip=true clean compile

  strimzi-kafka-bridge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: strimzi/strimzi-kafka-bridge
          ref: eaf86fbe460226c311a403816eaea86c03a2355f
      - uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "zulu"
      - name: Run the Maven verify phase
        run: mvn -B -U -fn -q -Dmaven.javadoc.skip=true clean compile
