name: Run Skaker in all testing repos

on: [workflow_dispatch]

jobs:
  azure-iot-sdk-java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: Azure/azure-iot-sdk-java
          ref: a9226a5262a8f4cb92ec7fd1535c0e0d3bc7aa03
      - name: Shaker
        uses: marcellocordeiro/stress-action@main
        with:
          test_type: maven
          no_stress_runs: 1
          stress_runs: 3

  CorfuDB:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: CorfuDB/CorfuDB
          ref: b99ecfffd4f4b478f2423cc0470c3c2edf8c2cc8
      - name: Shaker
        uses: marcellocordeiro/stress-action@main
        with:
          test_type: maven
          no_stress_runs: 1
          stress_runs: 3

  Chronicle-Queue:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: OpenHFT/Chronicle-Queue
          ref: bec195b43e9115c7778d7458d8301ec1a5a4fbcb
      - name: Shaker
        uses: marcellocordeiro/stress-action@main
        with:
          test_type: maven
          no_stress_runs: 1
          stress_runs: 3

  exhibitor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: soabase/exhibitor
          ref: d345d2d45c75b0694b562b6c346f8594f3a5d166
      - name: Shaker
        uses: marcellocordeiro/stress-action@main
        with:
          test_type: maven
          no_stress_runs: 1
          stress_runs: 3

  flow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: vaadin/flow
          ref: "6.0.6"
      - name: Shaker
        uses: marcellocordeiro/stress-action@main
        with:
          test_type: maven
          no_stress_runs: 1
          stress_runs: 3

  hbase:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: apache/hbase
          ref: d50816fe448971b8e586792f0584aaf601e31780
      - name: Shaker
        uses: marcellocordeiro/stress-action@main
        with:
          test_type: maven
          no_stress_runs: 1
          stress_runs: 1

  karate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: intuit/karate
          ref: 09bc49eb6fcfc029a09dbdb385137ff71985c89b
      - name: Shaker
        uses: marcellocordeiro/stress-action@main
        with:
          test_type: maven
          no_stress_runs: 1
          stress_runs: 3

  killbill:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: killbill/killbill
          ref: killbill-0.22.21
      - name: Shaker
        uses: marcellocordeiro/stress-action@main
        with:
          test_type: maven
          no_stress_runs: 1
          stress_runs: 3

  mockserver:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: mock-server/mockserver
          ref: b1093ef54a6c3c880076f71a815bf0e204bc27f2
      - name: Shaker
        uses: marcellocordeiro/stress-action@main
        with:
          test_type: maven
          no_stress_runs: 1
          stress_runs: 3

  ozone:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: apache/ozone
          ref: dfd2aaf7fff4815e906e7201cee1739ad9776d97
      - name: Shaker
        uses: marcellocordeiro/stress-action@main
        with:
          test_type: maven
          no_stress_runs: 1
          stress_runs: 3

  ripme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: RipMeApp/ripme
          ref: 19ea20dcd62d6ea1197073ce9a7236c5c1f47556
      - name: Shaker
        uses: marcellocordeiro/stress-action@main
        with:
          test_type: maven
          no_stress_runs: 1
          stress_runs: 3

  strimzi-kafka-bridge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: strimzi/strimzi-kafka-bridge
          ref: eaf86fbe460226c311a403816eaea86c03a2355f
      - name: Shaker
        uses: marcellocordeiro/stress-action@main
        with:
          test_type: maven
          no_stress_runs: 1
          stress_runs: 3
