name: Maven tests

on: [workflow_dispatch]

jobs:
  ozone:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          repository: "apache/ozone"
          ref: dfd2aaf7fff4815e906e7201cee1739ad9776d97
      - uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Run the Maven verify phase
        run: mvn --batch-mode --update-snapshots --fail-never --quiet verify

